body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#cabecalho {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

#contcentral {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

#contcentral h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#caixas {
  display: inline-block;
  text-align: left;
}

#caixas input {
  border: none;
  border-bottom: 2px solid #333;
  font-size: 18px;
  margin-right: 10px;
  width: 40px;
}

#botao {
  margin-top: 20px;
}

button#calc {
  background-color: #f36c3d;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button#calc:hover {
  background-color: #e5532e;
}

#contnums {
  margin-top: 30px;
  text-align: left;
}

#contnums h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

#contnums p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

button#calc2 {
  background-color: #f36c3d;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button#calc2:hover {
  background-color: #e5532e;
}

#aElement {
  border: none;
  border-bottom: 2px solid #333;
  font-size: 18px;
  margin-right: 10px;
  width: 40px;
}

#bElement {
  border: none;
  border-bottom: 2px solid #333;
  font-size: 18px;
  margin-right: 10px;
  width: 40px;
}

#eps {
  border: none;
  border-bottom: 2px solid #333;
  font-size: 18px;
  margin-right: 10px;
  width: 100px;
}